<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CALyer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UIView关键帧动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UIView动画封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UIView转场动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>关键帧动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>动画组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>基础动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>弹性动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>转场动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>逐帧动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A308CE601C2A343C009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CE781C2A343C009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CE831C2A343C009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CE9B1C2A406F009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CEB31C2A406F009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CEBE1C2A406F009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CEDA1C2A6D0B009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CEF21C2A6D0B009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CEFD1C2A6D0C009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF181C2A70BA009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF301C2A70BB009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF3B1C2A70BB009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF561C2A74EE009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF6E1C2A74EE009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF791C2A74EE009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CF911C2A77F9009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CFA91C2A77F9009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A308CFB41C2A77F9009C0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115B871C291766003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115BA01C291766003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115BAB1C291766003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115BCD1C2933F9003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115BE51C2933FA003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115BF01C2933FA003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C0A1C2949F5003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C221C2949F5003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C2D1C2949F5003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C491C295427003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C611C295427003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3115C6C1C295427003AFF3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
